[*.cs]

# CA1862: Use the 'StringComparison' method overloads to perform case-insensitive string comparisons
dotnet_diagnostic.CA1862.severity = silent

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = silent
